<!-- view: stat -->
<div class="sub-nav" id="stat-subnav">
  <span data-subtab="status" class="active">STATUS</span>
  <span data-subtab="special">SPECIAL</span>
  <span data-subtab="perks">PERKS</span>
</div>

<div class="view-contents">
  <!-- STATUS Content -->
  <div class="content  active" id="status">
    <div class="status-content" >
    <div class="vault-boy-status">
      <div class="health-indicator hi-head"></div>
      <div class="health-indicator hi-larm"></div>
      <div class="health-indicator hi-rarm"></div>
      <div class="health-indicator hi-lleg"></div>
      <div class="health-indicator hi-rleg"></div>
      <div class="vault-boy-img"><img class="vault-boy-img" src="img/vault_boy_walking.gif" alt=""/></div>
    </div>
    </div>
  </div>

  <!-- SPECIAL Content -->
  <div class="content" id="special">
    <div class="special-content">
    <div class="special-list">
      <div class="special-item active" data-special="strength"><span>Strength</span><span>4</span></div>
      <div class="special-item" data-special="perception"><span>Perception</span><span>8</span></div>
      <div class="special-item" data-special="endurance"><span>Endurance</span><span>3</span></div>
      <div class="special-item" data-special="charisma"><span>Charisma</span><span>5</span></div>
      <div class="special-item" data-special="intelligence"><span>Intelligence</span><span>6</span></div>
      <div class="special-item" data-special="agility"><span>Agility</span><span>3</span></div>
      <div class="special-item" data-special="luck"><span>Luck</span><span>5</span></div>
    </div>
    <div class="special-preview">
      <div class="placeholder-img special-img">[VAULT BOY STRENGTH]</div>
      <div class="special-desc">Strength is a measure of your raw physical power. It affects how much you can carry, and the damage of all melee attacks.</div>
    </div>
    </div>
  </div>

  <!-- PERKS Content -->
  <div class="content" id="perks">
    <div class="perks-content" >
      <div class="perks-list">
        <div class="perk-item active">
          <div class="placeholder-img perk-icon">[P]</div>
          <span>Iron Fist</span>
        </div>
        <div class="perk-item">
          <div class="placeholder-img perk-icon">[P]</div>
          <span>Lead Belly</span>
        </div>
        <div class="perk-item">
          <div class="placeholder-img perk-icon">[P]</div>
          <span>Lifegiver</span>
        </div>
        <div class="perk-item">
          <div class="placeholder-img perk-icon">[P]</div>
          <span>Medic</span>
        </div>
        <div class="perk-item">
          <div class="placeholder-img perk-icon">[P]</div>
          <span>Gun Nut</span>
        </div>
      </div>
      <div class="perks-preview">
        <div class="placeholder-img perk-preview-img">[PERK IMAGE]</div>
        <div class="special-desc">Channel your anger into devastating punches! Punching attacks do 20% more damage.</div>
      </div>
    </div>
</div>
</div>